{# Componente reutilizable: Insignia de disponibilidad comercial y nivel de stock de una prenda #}
{% if not prenda.disponible %}
    <span class="badge badge-soft-secondary px-2 py-1">
        <i class="bi bi-x-circle-fill me-1"></i>No Disp.
    </span>
{% elif prenda.stock == 0 %}
    <span class="badge bg-danger px-2 py-1">
        <i class="bi bi-exclamation-octagon-fill me-1"></i>Agotado
    </span>
{% else %}
    <span class="badge badge-soft-success px-2 py-1">
        <i class="bi bi-check-circle-fill me-1"></i>Disponible
    </span>
{% endif %}
